<div class="container">

    <form class="example-form">
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>{{label}}</mat-label>

          <input type="text"
                 placeholder="Search....."
                 aria-label="{label}"
                 matInput
                 [formControl]="mySearchControl"
                 [matAutocomplete]="auto"
          >

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getStockPrice($event.option.value)'>
            <mat-option *ngFor="let option of filteredCompanies" [value]="option.company_id">
              {{option.company_name}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
    </form>
  
</div>
